# Postgres URL
POSTGRES_URL="postgres://postgres.vgwxxpebzwwyrcdhcgtw:z3h4M14zqBTCD2iw@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"

AUTH_RESEND_KEY=abc123

# Auth secret (generate one using 'npx auth secret')
AUTH_SECRET=868125ab87f89856072a699800a387e31c16f95acaa13847d5ce51145c77006a

AUTH_GITHUB_ID=Ov23liR5jOJJq8pgUi0B
AUTH_GITHUB_SECRET=8c38315fbdb5d77c4e5400eb066428a7c6bb1d30
